docker {
    enabled = true
    runOptions = '-u $(id -u):$(id -g) --platform linux/amd64'
    fixOwnership = true
}

process {
    // ecc_finder modules use the process_high label; cap resources for nf-test.
    withLabel: process_high {
        cpus   = 2
        memory = '6.GB'
        time   = '6.h'
    }
    withName: ECC_FINDER_ASM_SR {
        ext.args = ''
        cpus   = 2
        memory = '6.GB'
        time   = '6.h'
    }
}
