docker {
    enabled = true
    runOptions = '-u $(id -u):$(id -g) --platform linux/amd64'
    fixOwnership = true
}

process {
    // CiderSeq modules use the process_low label by default; keep tests small.
    withLabel: process_low {
        cpus   = 2
        memory = '6.GB'
        time   = '6.h'
    }
    withName: 'CIDERSEQ_SEPARATE|CIDERSEQ_ALIGN|CIDERSEQ_DECONCAT|CIDERSEQ_ANNOTATE|CIDERSEQ_PHASE|CS_ECCDNA|CSTOOLS' {
        publishDir = [ enabled: false ]
    }
}
