params {
    max_memory = 256.GB
    max_cpus = 64
    max_time = 72.h

    config_profile_name = 'Server profile'
    config_profile_description = 'Production configuration for server with 128 CPUs and 503GB memory'

    fasta_base_path = "/data1/users/siyangming/FASTA"

    input_format = 'FASTQ'
    circle_identifier = 'circexplorer2,circle_finder,circle_map_realign,circle_map_repeats,unicycler'

    skip_markduplicates = false

    genomes {
        Arabidopsis_thaliana {
            fasta = "${params.fasta_base_path}/Arabidopsis_thaliana.TAIR10.dna.bgz"
        }
        Oryza_sativa {
            fasta = "${params.fasta_base_path}/Oryza_sativa.IRGSP-1.0.dna.bgz"
        }
        Triticum_aestivum {
            fasta = "${params.fasta_base_path}/Triticum_aestivum.IWGSC.dna.bgz"
        }
        Solanum_lycopersicum {
            fasta = "${params.fasta_base_path}/Solanum_lycopersicum_gca000188115v5cm.SL4.0.dna.bgz"
        }
        Daucus_carota {
            fasta = "${params.fasta_base_path}/Daucus_carota.ASM162521v1.dna.bgz"
        }
        Helianthus_annuus {
            fasta = "${params.fasta_base_path}/Helianthus_annuus.HanXRQr2.0-SUNRISE.dna.bgz"
        }
        Alopecurus_myosuroides {
            fasta = "${params.fasta_base_path}/Alopecurus_myosuroides_v1.bgz"
        }
        Amaranthus_palmeri {
            fasta = "${params.fasta_base_path}/Amaranthus_palmeri_v01.bgz"
        }
        Artemisia_annua {
            fasta = "${params.fasta_base_path}/Artemisia_annua_v1.bgz"
        }
        Cryptomeria_japonica {
            fasta = "${params.fasta_base_path}/Cryptomeria_japonica_1.0.bgz"
        }
        Nicotiana_benthamiana {
            fasta = "${params.fasta_base_path}/Nicotiana_benthamiana_v1.bgz"
        }
        Tragopogon_porrifolius {
            fasta = "${params.fasta_base_path}/Tragopogon_porrifolius_hap1.1.bgz"
        }
        Beta_vulgaris {
            fasta = "${params.fasta_base_path}/Beta_vulgaris.RefBeet-1.2.2.dna.bgz"
        }
        Lycium_ruthenicum {
            fasta = "${params.fasta_base_path}/Lycium_ruthenicum_ASM4143038v1.bgz"
        }
        Cynodon_dactylon {
            fasta = "${params.fasta_base_path}/Cynodon_dactylon_ASM4686236v1.bgz"
        }
    }
}

process {
    executor = 'local'

    withName: 'UNICYCLER' {
        memory = 64.GB
        cpus = 8
        time = 96.h
        maxForks = 2
        ext.args = '--no_rotate --spades_options "-m 65536"'
    }

    withName: 'BWA_INDEX' {
        memory = 128.GB
        cpus = 32
        time = 4.h
    }

    withName: 'BWA_MEM' {
        memory = 128.GB
        cpus = 32
        time = 24.h
    }

    withName: 'SAMTOOLS_SORT' {
        memory = 64.GB
        cpus = 16
        time = 12.h
    }

    withName: 'PICARD_MARKDUPLICATES' {
        memory = 64.GB
        cpus = 16
        time = 12.h
    }

    withName: 'CIRCLE_MAP_REALIGN' {
        memory = 128.GB
        cpus = 32
        time = 48.h
    }

    withName: 'CIRCLE_MAP_REPEATS' {
        memory = 128.GB
        cpus = 32
        time = 48.h
    }

    withName: 'CIRCLE_FINDER' {
        memory = 64.GB
        cpus = 16
        time = 24.h
    }

    withName: 'CIRC_EXPLORER2_PARSE' {
        memory = 64.GB
        cpus = 16
        time = 24.h
    }

    withName: 'FASTQC' {
        memory = 8.GB
        cpus = 4
        time = 4.h
    }

    withName: 'TRIMGALORE' {
        memory = 16.GB
        cpus = 8
        time = 8.h
    }

    withName: 'SAMTOOLS_INDEX' {
        memory = 16.GB
        cpus = 4
        time = 4.h
    }

    withName: 'SAMTOOLS_STATS' {
        memory = 16.GB
        cpus = 4
        time = 4.h
    }

    withName: 'MULTIQC' {
        memory = 32.GB
        cpus = 8
        time = 8.h
    }
}

executor {
    queueSize = 20
}

singularity {
    enabled = false
}

docker {
    enabled = true
    fixOwnership = true
}

conda {
    enabled = false
}

trace {
    overwrite = true
}
