/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal Nanopore long-read tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple
    Nanopore long-read pipeline test.

    Use as follows:
        nextflow run . -profile test_nanopore_lr,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test Nanopore Long-Read profile'
    config_profile_description = 'Minimal Nanopore eccDNA dataset for circdna.nf long-read pipeline'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data - uses master's built-in ONT smoke test data (Arabidopsis eccDNA, SRR24335762)
    input         = './samplesheets/test_ont_lr.csv'
    input_format  = 'FASTQ'

    // Genome references - ONT smoke data derived from Arabidopsis thaliana
    fasta           = '/data1/users/siyangming/PublicDB/reference/Arabidopsis_thaliana/Arabidopsis_thaliana.TAIR10.dna.fa.gz'
    igenomes_ignore = true

    // Long-read pipeline options
    protocol             = 'ont'
    entrypoint           = 'cleaned_fastq'
    long_read_identifier = 'cresil,fled,flye,eccfinder'
    circle_identifier    = ''
}

// Cap resources for testing
process {
    withLabel:process_high {
        cpus   = 2
        memory = '6.GB'
        time   = '6.h'
    }
    withLabel:process_medium {
        cpus   = 2
        memory = '6.GB'
        time   = '6.h'
    }
    withLabel:process_low {
        cpus   = 2
        memory = '6.GB'
        time   = '6.h'
    }

    // Override withName blocks from base.config for test environment
    withName: 'PBCCS' {
        cpus   = 2
        memory = '6.GB'
        time   = '6.h'
    }
    withName: 'LIMA' {
        cpus   = 2
        memory = '6.GB'
        time   = '6.h'
    }
    withName: 'CHOPPER' {
        cpus   = 2
        memory = '6.GB'
        time   = '6.h'
    }
    withName: 'PYCHOPPER' {
        cpus   = 2
        memory = '6.GB'
        time   = '6.h'
    }
    withName: 'CRESIL_TRIM' {
        cpus   = 2
        memory = '6.GB'
        time   = '6.h'
    }
    withName: 'CRESIL_IDENTIFY' {
        cpus   = 2
        memory = '6.GB'
        time   = '6.h'
    }
    withName: 'CRESIL_ANNOTATE' {
        cpus   = 2
        memory = '6.GB'
        time   = '6.h'
    }
    withName: 'CRESIL_IDENTIFY_WGLS' {
        cpus   = 2
        memory = '6.GB'
        time   = '6.h'
    }
    withName: 'CRESIL_VISUALIZE' {
        cpus   = 2
        memory = '6.GB'
        time   = '6.h'
    }
    withName: 'MINIMAP2_INDEX' {
        cpus   = 2
        memory = '6.GB'
        time   = '6.h'
    }
    withName: 'FLED' {
        cpus   = 2
        memory = '6.GB'
        time   = '6.h'
    }
    withName: 'FLYE' {
        cpus   = 2
        memory = '6.GB'
        time   = '6.h'
    }
    withName: 'ECC_FINDER_MAP_ONT' {
        cpus   = 2
        memory = '6.GB'
        time   = '6.h'
    }
    withName: 'ECC_FINDER_MAP_SR' {
        cpus   = 2
        memory = '6.GB'
        time   = '6.h'
    }
    withName: 'ECC_FINDER_ASM_ONT' {
        cpus   = 2
        memory = '6.GB'
        time   = '6.h'
    }
    withName: 'ECC_FINDER_ASM_SR' {
        cpus   = 2
        memory = '6.GB'
        time   = '6.h'
    }
    withName: 'NANOPLOT' {
        cpus   = 2
        memory = '6.GB'
        time   = '6.h'
    }
    withName: 'FILTER_ECCDNA_BY_SUPPORT' {
        cpus   = 2
        memory = '6.GB'
        time   = '6.h'
    }
}
