/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for the mixed-assay routing test (§10 test_mixed_assay)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    One table containing: Illumina Circle-seq + Illumina WGS gDNA + PacBio WGS +
    ONT RCA + PacBio CIDER-seq. Asserts all four branches start in a single run.
----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test Mixed-Assay profile'
    config_profile_description = 'Mixed-table routing test (illumina circleseq + pacbio wgs + ont rca + ciderseq)'

    max_cpus   = 4
    max_memory = '8.GB'
    max_time   = '12.h'

    input         = './samplesheets/test_mixed_assay.csv'
    input_format  = 'FASTQ'

    fasta           = "${projectDir}/testdatasets/reference/genome.fa"
    igenomes_ignore = true

    // Routing fields come from the samplesheet; --protocol is only a legacy fallback
    protocol             = 'short_read'
    entrypoint           = 'cleaned_fastq'
    mode                 = 'eccdna'

    long_read_identifier = 'cresil,fled,flye,eccfinder,ciderseq'
    circle_identifier    = 'eccsplorer_map_slim'
    skip_long_read_qc    = true

    // CIDER-Seq2 test resources (same as test_ciderseq_local)
    ciderseq_config        = "${projectDir}/modules/local/ciderseq/testdata/ciderseq_config.json"
    ciderseq_blastdb       = "${projectDir}/modules/local/ciderseq/testdata/blastdb"
    ciderseq_align_targets = "${projectDir}/modules/local/ciderseq/testdata/blastdb"
    ciderseq_protein_db    = "${projectDir}/modules/local/ciderseq/testdata/blastdb"
    ciderseq_host_genome   = null

    outdir = 'results/test_mixed_assay'
}

process {
    withLabel:process_high {
        cpus   = 2
        memory = '6.GB'
        time   = '6.h'
    }
    withLabel:process_medium {
        cpus   = 2
        memory = '6.GB'
        time   = '6.h'
    }
    withLabel:process_low {
        cpus   = 2
        memory = '6.GB'
        time   = '6.h'
    }

    // Override withName blocks from base.config for the local test machine
    withName: 'CRESIL_TRIM|CRESIL_IDENTIFY|CRESIL_ANNOTATE|CRESIL_VISUALIZE' {
        cpus   = 2
        memory = '6.GB'
        time   = '6.h'
    }
    withName: 'FLED|FLYE|ECC_FINDER_MAP_ONT|ECC_FINDER_ASM_ONT|TIDEHUNTER_UNIT|TIDEHUNTER_ASM' {
        cpus   = 2
        memory = '6.GB'
        time   = '6.h'
    }
    withName: 'CIRCLESEEKER|MINIMAP2_ONT|MINIMAP2_REFERENCE|MINIMAP2_REMAP|NANOPLOT' {
        cpus   = 2
        memory = '6.GB'
        time   = '6.h'
    }
    withName: 'CIDERSEQ_SEPARATE|CIDERSEQ_ALIGN|CIDERSEQ_DECONCAT|CIDERSEQ_ANNOTATE|CIDERSEQ_PHASE' {
        cpus   = 2
        memory = '6.GB'
        time   = '6.h'
    }
    withName: 'FILTER_ECCDNA_BY_SUPPORT|COLLAPSE_CIRCLE_ALIGNMENTS|REPEATS_ANNOTATE|ECC_FINDER_ONT_CSV_TO_BED' {
        cpus   = 2
        memory = '6.GB'
        time   = '6.h'
    }
}
