/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for the short-read mixed-table test (§2 sr_gdna + sr_ecc)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    One table with an Illumina circleseq (eccdna) row AND an Illumina wgs (gdna) row.
    Asserts ECCDNA_MODE (default Circle-Map) and REFERENCE_MODE (mosdepth) run in parallel.
----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test Short-read Mixed profile'
    config_profile_description = 'Short-read mixed-table test (circleseq eccdna + wgs gdna)'

    max_cpus   = 4
    max_memory = '8.GB'
    max_time   = '12.h'

    input         = './samplesheets/test_mixed_sr.csv'
    input_format  = 'FASTQ'

    fasta           = "${projectDir}/testdatasets/reference/genome.fa"
    igenomes_ignore = true

    protocol             = 'short_read'
    mode                 = 'eccdna'

    // 无 circle_identifier → 默认 ECCDNA_MODE（Circle-Map）+ REFERENCE_MODE（gdna 行）
    circle_identifier    = ''

    outdir = 'results/test_mixed_sr'
}

process {
    withLabel:process_high {
        cpus   = 2
        memory = '6.GB'
        time   = '6.h'
    }
    withLabel:process_medium {
        cpus   = 2
        memory = '6.GB'
        time   = '6.h'
    }
    withLabel:process_low {
        cpus   = 2
        memory = '6.GB'
        time   = '6.h'
    }
    withName: 'BWA_INDEX|BWA_MEM|TRIMGALORE|CIRCLEMAP_REALIGN|CIRCLEMAP_REPEATS' {
        cpus   = 2
        memory = '6.GB'
        time   = '6.h'
    }
    withName: 'CIRCLEMAP_REALIGN' {
        cpus = 1
    }
}
