/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal CiderSeq long-read tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple
    CiderSeq (CIDER-Seq2) long-read pipeline test locally using the
    CIDER-Seq2 `examples/` test data (EACMV geminivirus reads).

    Use as follows:
        nextflow run . -profile test_ciderseq_local,docker --outdir <OUTDIR>
----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test CiderSeq Long-Read profile'
    config_profile_description = 'Minimal CiderSeq eccDNA dataset (CIDER-Seq2 examples) for circdna.nf long-read pipeline'

    // Limit resources so that this can run locally
    max_cpus   = 4
    max_memory = '8.GB'
    max_time   = '12.h'

    // Input data - CIDER-Seq2 examples/example1.fastq (PacBio CCS reads)
    input         = './samplesheets/test_ciderseq_lr.csv'
    input_format  = 'FASTQ'

    // Genome reference - required by the workflow; the virus RefSeq is used
    // as a stand-in (CiderSeq itself does not need a host reference).
    fasta           = "${projectDir}/modules/local/ciderseq/testdata/blastdb/EACMV_RefSeq.fasta"
    igenomes_ignore = true

    // Long-read pipeline options
    protocol             = 'pacbio'
    entrypoint           = 'cleaned_fastq'
    long_read_identifier = 'ciderseq'
    circle_identifier    = ''
    skip_long_read_qc    = true

    // CiderSeq options - CIDER-Seq2 examples blast database / targets / proteins
    ciderseq_config        = "${projectDir}/modules/local/ciderseq/testdata/ciderseq_config.json"
    ciderseq_blastdb       = "${projectDir}/modules/local/ciderseq/testdata/blastdb"
    ciderseq_align_targets = "${projectDir}/modules/local/ciderseq/testdata/blastdb"
    ciderseq_protein_db    = "${projectDir}/modules/local/ciderseq/testdata/blastdb"
    ciderseq_host_genome   = null

    // Output directory
    outdir = 'results/test_ciderseq'
}

// Cap resources for testing
process {
    withLabel:process_high {
        cpus   = 2
        memory = '6.GB'
        time   = '6.h'
    }
    withLabel:process_medium {
        cpus   = 2
        memory = '6.GB'
        time   = '6.h'
    }
    withLabel:process_low {
        cpus   = 2
        memory = '6.GB'
        time   = '6.h'
    }

    withName: 'CIDERSEQ_SEPARATE' {
        cpus   = 2
        memory = '6.GB'
        time   = '6.h'
    }
    withName: 'CIDERSEQ_ALIGN' {
        cpus   = 2
        memory = '6.GB'
        time   = '6.h'
    }
    withName: 'CIDERSEQ_DECONCAT' {
        cpus   = 2
        memory = '6.GB'
        time   = '6.h'
    }
    withName: 'CIDERSEQ_ANNOTATE' {
        cpus   = 2
        memory = '6.GB'
        time   = '6.h'
    }
    withName: 'CIDERSEQ_PHASE' {
        cpus   = 2
        memory = '6.GB'
        time   = '6.h'
    }
}
